<%  include ./includes/header  %>
    <div>
        <form method="POST" action="/usuarios/cadastro">
            <input type="text" name="nome" placeholder="Nome completo"/><br>
            <input type="text" name="titulacao" placeholder="Maior titulação"/><br>
            <input type="text" name="email" placeholder="E-mail (obrigatório ser instituciona)"/><br>
            <input type="text" name="lattes" placeholder="Link para o Lattes"/><br>
            <input type="text" name="senha" placeholder="Senha"/><br>
            <input type="submit" />
        </form>
    </div>
<% include ./includes/footer  %>