<html>
    <head>
        <title>Libras - Dashboard</title>
        <meta charset="utf-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>    
    </head>
    
    <body>
        
        <div class="jumbotron text-center" style="background-color: #0195a2; height: 100px; color: white; font-family:'Arial';">
        <h1>Dashboard</h1>
        </div>
        <div>        
            
            <a class="btn jumbotron" style="background-color: #21ad07; color: white; width: 250px; height: 200px; text-align: 
                center; font-size: 30pt" href="/video">Android</a>
            <a class="btn jumbotron" style="background-color: #d40b0b; color: #ffffff; width: 250px; height: 200px; text-align:
                 center; font-size: 30pt" href="">Java</a>
            <a class="btn jumbotron" style="background-color: #4f09be; color: white; width: 250px; height: 200px; text-align: 
                center; font-size: 30pt" href="">C</a>
            <a class="btn jumbotron" style="background-color: #057c86; color: #ffec0d; width: 250px; height: 200px; text-align: 
                center; font-size: 30pt" href="">Python</a>
            <a class="btn jumbotron" style="background-color: #0056a0; color: white; width: 250px; height: 200px; text-align: 
                center; font-size: 30pt" href="">PHP</a>
        
        </div>
    
    </body>

</html>