<html>
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> Stashed changes
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
=======
>>>>>>> parent of 4d11fd1... upload css
    <form method="POST" action="/videos/upload">
        <input type="text" name="titulo" placeholder="Titulo">
        <input type="text" name="link" placeholder="Link do youtube">
        <input type="text" name="descricao" placeholder="Descrição">
        <select name="categoria">
        <%categorias.forEach((value) => { %>
            <option value="<%=value.id%>"><%=value.nome%></option>
        <% }); %>
        </select>
        <input type="submit" value="Enviar">
    </form>
</html>