<html>
    <head>
        <title>Libras - Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="">  
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>  
    </head>
    
    <body>
    
        <h1 class=" text-center" style="background-color: #06457c; height: 60px; color: white; font-family:'Arial';">
            <%=categoria%></h1>
        
        <div class="span4" style="text-align: center;">        
            <ul>
                <%if(videos.length > 0) {
                        videos.forEach((value) => { %>
                        <li>
                            <table>
                                <tr>
                                    <td>Título: <%=value.titulo%></td>
                                    <td>Descrição: <%=value.descricao%></td>
                                </tr>
                                <tr>
                                    <td><iframe  width="560" height="315" src="https://www.youtube.com/embed/<%=value.link%>" 
                                        frameborder="0" allowfullscreen></iframe></td>
                                </tr>
                            </table>
                        </li>
                 <% })} else { %>
                        <p>Não existe vídeos para essa categoria</p>
                 <% } %>
            </ul>
        </div>
        <br><br>
        
        <div style="text-align: right"><a class="btn pull-left" style="width: 150px; background-color: red; color: white; margin-right: 20px; " href="/dashboard">Voltar</a></div>
    
    </body>

</html>